:root {
  --red: #4d0000;
  --brown: #86511D;
  --orange: #FFAD00; 
  --ltan: #fcfadc;
}


h1 {
    color: var(--brown);
    font-size: 30px;
    font-weight: bold;
}

hr {
    height: 3px;
    background-color: var(--red);
}

h5 {
    color: blue;
    font-size: 30px;
    font-weight: bold;
}

/* Overall background color */ 
.navbar {
  background-color: var(--red);
}

/* Background class title text name */ 
.navbar .navbar-brand {
  color: var(--ltan);
}

/*---TABLE OF CONTENTS ---*/

/* NO TOC on mobile */
@media screen and (max-width: 767px){

  .col-xs-12.col-sm-4.col-md-3 {
    display: none;
  }
  
  .top-text {
    font-size: 25px;
  }

  .bottom-text {
    font-size: 40px;
  }
  
  
}

/* TOC links */

.tocify {
  width: 100% !important;
  border: none;
}

.list-group-item {
    color: #7b8a8b;
    font-size: 16px;
}

.list-group-item.active {
    color: white;
    background-color: var(--brown);
    border: none;
}

.list-group-item:hover, 
.list-group-item.active:hover {
    color: var(--brown);
    background-color: white;
}

.red {
  padding: .5em;
  border-radius: 10px;
  background: #d9534f;
}